<mat-nav-list>
  <h3 mat-subheader>项目</h3>
  <mat-list-item routerLink="/project" (click)="onNavClick()">
    <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
    <span mat-line>项目首页</span>
    <span mat-line mat-subheader>查看所有项目</span>
  </mat-list-item>

  <mat-list-item *ngFor="let p of projects$ | async" (click)="onProjectClick(p)">
    <mat-icon mat-list-icon svgIcon="project"></mat-icon>
    <span mat-line>{{ p.name }}</span>
    <span mat-line mat-subheader>{{ p.desc }}</span>
  </mat-list-item>

  <h3 mat-subheader>日历</h3>
  <mat-list-item routerLink="/mycalendar/month" (click)="onNavClick()">
    <mat-icon mat-list-icon svgIcon="month"></mat-icon>
    <span mat-line>月</span>
    <span mat-line mat-subheader>查看月视图</span>
  </mat-list-item>
  <mat-list-item routerLink="/mycalendar/week" (click)="onNavClick()">
    <mat-icon mat-list-icon svgIcon="week"></mat-icon>
    <span mat-line>周</span>
    <span mat-line mat-subheader>查看周视图</span>
  </mat-list-item>
  <mat-list-item routerLink="/mycalendar/day" (click)="onNavClick()">
    <mat-icon mat-list-icon [svgIcon]="today"></mat-icon>
    <span mat-line>日</span>
    <span mat-line mat-subheader>查看日视图</span>
  </mat-list-item>
</mat-nav-list>