.card {
  flex: 0 0 360px;
  margin: 10px;
  height: 360px;
}

// .container {
//   height: 100%;
//   display: flex;
//   flex-direction:row;
//   flex-wrap: wrap;
//   overflow: scroll;
// }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fab-button {
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 998;
}