<div class="task-lists">
  <app-task-list
    class="list-container"
    *ngFor="let list of lists"
    appDroppable
    [dragEnterClass]="'drag-enter'"
    [dropTags]="['task-item', 'task-list']"
    [appDraggable]="true"
    [dragTag]="'task-list'"
    [draggedClass]="'drag-start'"
    [dragData]="list"
    (dropped)="handleMove($event, list)"
    [ngStyle]="{'order': list.order}"
  >
    <app-task-header
      [header]="list.name"
      (newTask)="openNewTaskDialog()"
      (editList)="openEditListDialog()"
      (moveAll)="openCopyTaskDialog()"
      (delList)="openConfirmDialog()"
    ></app-task-header>
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (taskClick)="openTaskClickDialog(task)"
    >
    </app-task-item>
  </app-task-list>
</div>

<button
  mat-fab
  class="fab-button"
  type="button"
  (click)="openNewListDialog()"
>
  <mat-icon>add</mat-icon>
</button>
