<form action="">
  <h2 mat-dialog-title>{{ title }}</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="任务内容" />
    </mat-form-field>

    <mat-radio-group>
      <mat-radio-button
        *ngFor="let priority of priorities"
        [value]="priority.value"
      >
        {{ priority.label }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="dueDatepicker" type="text" placeholder="选择截止日期" />
      <mat-datepicker-toggle [for]="dueDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #dueDatepicker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="reminderDatepicker" type="text" placeholder="选择提醒日期" />
      <mat-datepicker-toggle [for]="reminderDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #reminderDatepicker></mat-datepicker>
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" (click)="onClick()">Save</button>
    <button type="button" mat-button mat-dialog-close>Close</button>
  </div>
</form>