<form
  [formGroup]="loginForm"
  (submit)="onSubmit(loginForm, $event)"
>
  <mat-card class="card-login">
    <mat-card-header>
      <mat-card-title>登录</mat-card-title>
    </mat-card-header>  

    <mat-card-content>
      <mat-form-field color="accent" class="full-width">
        <input matInput type="text" placeholder="请输入邮箱地址" formControlName="email" />
        <mat-error>{{ loginForm.controls['email'].errors | json }}</mat-error>
      </mat-form-field>

      <mat-form-field color="accent" class="full-width">
        <input matInput type="text" placeholder="请输入密码" formControlName="password" />
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent">登录</button>
    </mat-card-content>

    <mat-card-actions class="text-right ">
      <p><a routerLink="/register">创建一个新账户</a></p>
      <p><a href="">忘记密码?</a></p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Quotes
      </mat-card-title>
      <mat-card-subtitle>
        {{ (quote$ | async)?.cn }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ (quote$ | async)?.pic }}" alt="quote image">
    <mat-card-content>
      {{ (quote$ | async)?.en }}
    </mat-card-content>
  </mat-card>

</form>