<form>
  <mat-card class="card-login">
    <mat-card-header>
      <mat-card-title>登录</mat-card-title>
    </mat-card-header>  

    <mat-card-content>
      <mat-form-field color="accent" class="full-width">
        <input matInput type="text" placeholder="请输入邮箱地址" />
      </mat-form-field>

      <mat-form-field color="accent" class="full-width">
        <input matInput type="text" placeholder="请输入密码" />
      </mat-form-field>
      <button mat-raised-button type="button" color="accent">登录</button>
    </mat-card-content>

    <mat-card-actions class="text-right ">
      <p><a routerLink="/register">创建一个新账户</a></p>
      <p><a href="">忘记密码?</a></p>
    </mat-card-actions>
  </mat-card>
</form>